<div class="container">
    <h1><%= @survey.title %></h1>

    <div class="question"><%= @question.q_content %></div>
    <form action="/surveys/<%= @survey.id %>/questions/<%= @question.id %>/answers_users" method="POST">
      <% @question.possible_answers.each do |possible_answer| %>
      <input type="radio" class="choices" name="possible_answer_id" value="<%= possible_answer.id %>">&nbsp<%= possible_answer.a_content %><br>
      <br>
      <% end %>
      <input type="submit" value="submit">
    </form>
</div>